body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #fff;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	transition: 3s all;
}

.headertext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	color: #d44500;
	text-shadow: #d44500 0px 0px 50px;
}

.headertext h1{
	font-family: 'ShermanSerif', serif;
	font-size: 5em;
	margin: 0;
}

.headertext p{
	font-family: 'ShermanSerif', serif;
	font-style: italic;
}

.spawn{
	position: absolute;
	max-width: 150px;
}

.spawn.kent{
	max-width: 100px;
}

.playpausebutton{
	position: fixed;
	background-color: #444;
	width: 50px;
	height: 50px;
	font-size: 20px;
	bottom: 5%;
	right: 3%;
	cursor: pointer;
}

.playpausebutton .material-icons{
	font-size: 50px;
}